<div class=" rounded shadow-md  p-4 max-w-xs text-center flex-auto">
  <h2 class="text-xl mb-3 font-light text-indigo-900">CEPs mais buscados</h2>
  <%if most_searched.present? %>
    <ul>
      <% most_searched.each_with_index do |search, index| %>
        <li class="tracking-wider text-gray-700 text-sm mb-1">
          <span class="text-indigo-700 text-lg"><%= index + 1 %>ยบ</span> 
          <%= search.cep %> - 
          <span class="text-indigo-600 text-xs"><%= search.count %> buscas</span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nenhum CEP foi buscado ainda.</p>
  <% end %>
</div>